<h2><%= @survey.title %></h2>

<form action="/survey/<%= @survey.id %>" method="post">
  <% @questions.each_with_index do |q, index| %>
  <%= q.question_text %>
 <input type="hidden" name="id[<%= index %>]" value="<%= q.id %>">
  <p><input type="text" name="response[<%= index %>]"></p>
  <% end %>
  <input type="submit" value="Submit that form!">
</form>


